.button {
    -fx-font-size: 15px;
    -fx-background-color: #E8C4C4;
}

.root {
    -fx-background: #2B3A55;
    -fx-text-fill: #F2E5E5;
}

.line-chart {
    -fx-text-fill: #F2E5E5;
}

.label {
    -fx-text-fill: #F2E5E5;
}

.pink-text {
    -fx-text-fill: #F2E5E5;
    -fx-font-size: 16px;
    -fx-text-alignment: "center";
}

.white-background {
    -fx-background-color: "WHITE";
}