.button {
    -fx-font-size: 12px;
    -fx-background-color: #E8C4C4;
}

.root {
    -fx-background: #2B3A55;
    -fx-text-fill: #F2E5E5;
}

.line-chart {
    -fx-text-fill: #F2E5E5;
}

.label {
    -fx-text-fill: #F2E5E5;
}

.pink-bg {
    -fx-background-color: #E8C4C4;
}

.pink-text {
    -fx-text-fill: #F2E5E5;
    -fx-font-size: 11px;
    -fx-text-alignment: "center";
}

.list-view {
    -fx-background-color: #E8C4C4;
}

.default-color0.chart-series-line {
    -fx-stroke: transparent;
}

.default-color0.chart-line-symbol {
    -fx-background-color: transparent, green;
}

.default-color1.chart-series-line {
    -fx-stroke: yellow;
}

.default-color1.chart-line-symbol {
    -fx-background-color: yellow, yellow;
}